<ion-view view-title="Cambiar Clave" style="background-color: #F1F1F1;background-image:url('img/background-content.png')">
  <ion-content class="padding" ng-controller="passwordResetCtrl">
      <div class="list">
        <form name="resetForm" novalidate>
           <label class="item item-input item-floating-label">
           <span style="color:#888!important;" class="input-label">Nueva Contraseña</span>
           <input type="password" style="color:gray!important;" required name="newpwd" ng-model="form.data.newpwd" placeholder="Nueva Contraseña">
           </label>
           <label class="item item-input item-floating-label">
           <span style="color:#888!important;" class="input-label">Confirmar Contraseña</span>
           <input type="password" style="color:gray!important;" required name="confirmpwd" ng-model="form.data.confirmpwd" placeholder="Confirmar Contraseña">
           </label>
        <div>
          <br>
          <button class="button button-block button-custom" ng-click="reset()">
            Cambiar
          </button>
        </div>
        </form>
      </div>
  </ion-content>
</ion-view>

