<ion-view view-title="Pedidos" style="background-color: #F1F1F1;background-image:url('img/background-content.png')">
  <ion-content class="" ng-controller="requestCtrl" ng-init="load()">
      <div class="list">
		  <a class="item" href="#" ng-repeat="record in records">
		   <h2>{{record._client.name + " " + record._client.last_name}}</h2>
		   <p style="font-size: 12px;">{{record.createdAt | date:"yyyy-MM-dd hh:mm:ss a"}}</p>
		    <span ng-show="record.data.estado == 'Facturado' " class="badge badge-assertive badge-tiny label-darkblue">{{record.data.estado}}</span>
		    <span ng-show="record.data.estado == 'Pendiente' || !record.data.estado " class="badge badge-energized badge-tiny">Pendinte</span>
		    <span ng-show="record.data.estado == 'Facturado'" class="badge badge-success badge-tiny label-darkblue">{{record.data.estado}}</span>
		  </a>
        </form>
      </div>
  </ion-content>
</ion-view>

